*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.container{
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background-color:rgb(233, 252, 252);
    padding: 4rem;
}
p{
    text-transform: capitalize;
    font-size: 20px;
}